body {
    background-color: #004904;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.App {
    width: 100%;
    height: 100%;
    margin: 0px;    
}

#root {
    background-color: #004904;
    /* display: flex; */
    width: 100%;
    height: 100%;
    margin: 0px; 

}