@media only screen and (max-width: 600px) {
  #innerpersoncard {
    flex-direction: column !important;
    width: 400px !important;
  }
  #printericon {
    display: none !important;
  }
  .groupbox {
    width: 100% !important;
  }
  #name {

  }
}

.personcard
{
  display: flex;
  justify-content: center;
}

#innerpersoncard
{
  display: flex;
  justify-content: space-between;
  width: 830px;
  background: #dedede;
  border: 5px solid #999999;
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
  margin: 0px 30px 0px 30px;
}

#namebox
{
  display: flex;
  padding: 0px 20px 10px 0px;
}

#name
{
  margin-left: 20px;
}

#personicon
{
  display: block;
  width: 50px;
  height: 50px;

  background-image: url('../../assets/images/person.png');
  background-repeat: no-repeat;  
}

#firstname
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #666666; 
}

#lastname{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: #666666; 
}

.groupbox
{
  display: flex;
  padding: 0px 20px 10px 0px;
}

#printericon
{
  width: 50px;
  height: 50px;
  background-image: url('../../assets/images/print.png');
  background-repeat: no-repeat;  
}

#locationicon
{
  width: 50px;
  height: 50px;
  background-image: url('../../assets/images/location.png');
  background-repeat: no-repeat;  
}

.locname
{
  margin-left: 20px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  color: #666666;
}

#region{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    margin: 0px 0px 0px 20px;
    color: #666666; 
  }

#printericon
{
  width: 50px;
  height: 50px;

  background-image: url('../../assets/images/print.png');
  background-repeat: no-repeat;  
}